<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>

  Якщо юзер не залогінений він може перебувати на сторінці де є тільки форма логіну, якщо залогінений сторінка логіну не доступна

  Форма логіну має містити валідацію:
    - всі поля обовязкові до заповнення
    - валідний емейла
    - довжина палоля від 6 до 24 символів

  Після лоніну потрапляє на сторінку home і в хедері зявдяються його дані (дані які імітують респонс після логіну знаходяться в /core/serviсes/auth.service)
  На сторінці home покажіть будь який статичний текст

  На сторінці users
    - виведіть спсок юзерів сортованих по дню народженю (1 - найстарший) (масив юзерів знаходиться в /core/serviсes/users.service)
    - додати функціонал на кнопки в таблиці
    - кнопка create покаже форму і дозволить додати нового юзера
    - кнопка cancel схває і очистить форму

  Клікнувши на імя юзера ми потрапляємо на сторіку з його детальною інформацією
    - кнопка едіт дозволить редагувати дані

  Кнопка Log out вилоговує в редіректить на сторінку з формою логіну

  /******* Login form *******
  <form class="login-form">
    <h2>Login</h2>
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Enter email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


  /******* User create/edit form *******
  <form class="user-form">
    <H2>Add/edit user</H2>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
    <div class="form-group">
      <input type="date" class="form-control" placeholder="Birth day">
    </div>
    <div class="form-group">
      <textarea type="text" class="form-control" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="maleCheck">
        <label class="form-check-label" for="maleCheck">
          Is male
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Create / Edit</button>
    <button type="submit" class="btn btn-dark">Cancel</button>
  </form>


  /******* List of users *******
  <div class="custom-row">
    <button type="button" class="btn btn-success">Add new user</button>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Birth day</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>12 aug, 1990</th>
      <td><a href=""></a>Mark Otto</td>
      <td>
        <button type="button" class="btn btn-secondary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>


  /******* User's info *******
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Full name</h5>
      <p class="card-text">Birth day</p>
      <p class="card-text">Male / female</p>
      <p class="card-text">Description</p>
      <button type="button" class="btn btn-secondary">Edit</button>
    </div>
  </div>
</div>


