/* You can add global styles to this file, and also import other style files */
.login-form{
  max-width: 500px;
  padding-top: 100px;
  margin: auto;
}

.btn-danger{
  margin-left: 10px;
}

.custom-row{
  margin-bottom: 30px;
}
